GemEngine = {
    LibPath = /dpod/libs/64/libCryptoki2.so;;
    LibPath64 = /dpod/libs/64/libCryptoki2.so;;
    EnableDsaGenKeyPair = 1;
    EnableRsaGenKeyPair = 1;
    DisablePublicCrypto = 1;
    EnableRsaSignVerify = 1;
    EnableLoadPubKey = 1;
    EnableLoadPrivKey = 1;
    DisableCheckFinalize = 0;
    DisableEcdsa = 0;
    DisableDsa = 0;
    DisableRand = 0;
    EngineInit = "gem_test":0:0:passfile=/secrets/pin.secret;
    EnableLoginInit = 1;
}